.featuredProducts{
    margin:100px 200px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;

        h1{
          flex:2; 
          text-transform: capitalize;
        }

        p {
            flex:3;
            color: grey;
        }
    }

  .bottom {
    display:flex;
    justify-content: center;
    gap: 50px;
  }

  @media(max-width: 768px){
    .featuredProducts{
      width: 100%;
      margin:10px 20px;
    }
    .top{
      flex-direction: column;
      width: 100%;
    }
    h1{
      flex:none;
     width: 100%;
    }
    p{
      flex: none;
      width: 100%;
      padding: 2rem;
    }
  
}

  @media(max-width: 280px){
    .featuredProducts{
      width: 800px;
      // border: 1px solid red;
      margin:0px 0px;
    }

    .top{
      
      width: 100%;
      // border: 1px solid red;
    
    h1{
     width: 300px;
     font-size: 20px;
     font-weight: 700;
    }
    p{
      width: 250px;
      font-size: 12px;
      font-weight: 500;
    
    }
  }

  }
}